
<p>{{ item.name }}</p>
<a href="/items/{{ item._id }}/edit">edit</a>
<a href="/">back</a>
<input type="checkbox" name="isDone" {{#if item.isDone }} checked {{/if}} disabled>
<form action="/items/{{ item._id }}?_method=DELETE" method="POST" style="display: inline;">
  <button type="submit">delete</button>
</form>