<a href="./items/new">Create</a>
<ul>
  {{#each items}}
  <li>
    {{this.name}}
      <a href="./items/{{ this._id }}">detail</a>
      <a href="./items/{{ this._id }}/edit">edit</a>
      <form action="./items/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
        <button type="submit">delete</button>
      </form>
  </li>
  {{/each}}
</ul>