<div class="container">
</div>
<div class="row">
  <div class="col-md-12 text-center" style="margin: 5px">
    <h5 style="margin-bottom: 5px">My practice list for today</h5>
    <div>
      <img
        src="https://image.spreadshirtmedia.net/image-server/v1/compositions/T6A1PA5835PT17X31Y61D161825478W24930H24997Cx000000/views/1,width=550,height=550,appearanceId=1,backgroundColor=FFFFFF,noPt=true/ling-ling-40-hours-mens-t-shirt.jpg"
        alt="ling-ling-40-hours" style="margin-top: 5px; width: 300px; height: auto">
    </div>
    <ul class="list-group" style="margin-top: 20px">
      <button class="btn btn-outline-light" type="button" onclick="location.href='./items/new'" style="margin-bottom: 10px">Create</button>
      {{#each items}}
      <li class="list-group-item">
        <div class="row">
          <div class="col-auto me-auto">
            <input style="vertical-align: middle;" type="checkbox" name="isDone" {{#if this.isDone }} checked {{/if}}
              disabled>
            <h4 style="display: inline; vertical-align: middle; font-size: 20px">
              {{ this.name }}
            </h4>
          </div>
          <div class="col-auto">
            <a class="btn btn-secondary" href="./items/{{ this._id }}">detail</a>
            <a class="btn btn-success" href="./items/{{ this._id }}/edit">edit</a>
            <form action="./items/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
              <button class="btn btn-danger" type="submit">delete</button>
            </form>
          </div>
        </div>
      </li>
      {{/each}}
    </ul>
    {{!-- end of the 2 --}}
  </div>
</div>
</div>